.App {
    font-family: sans-serif;
    text-align: center;
  }
  
  .video-tiles {
    display: flex;
    align-items: flex-start;
    width: 100%;
    background-color: black;
    border-radius: 4px;
    overflow: hidden;
  
  }
  
  video {
    width: 100%;
    height: 100%;
    object-fit: center;
  }
  .video-small {
    width: 160px;
  }
  
  .video-big {
    flex: 1 0 0;
  }
  
  .video-controls {
    padding: 3px;
  }
  
  .video-control {
    margin: 0 3px;
  }